/* Reset */
html {
  font-size: 16px;
  background-color: rgb(250, 247, 243);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
}

/* Font family and styles*/
.nunito-sans {
  font-family: 'Nunito', sans-serif;
}

.ubuntu-mono {
  font-family: 'Ubuntu Mono', monospace;
}

.italic {
  font-style: italic;
}

/* Landing Page */

.landing-page {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgb(250, 247, 243);
  justify-content: center;
}

.welcome {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 2px black,
   0 0 16px grey, 0 0 4px black;
}

.first-line {
  opacity: 0;
  width: 144px;
  margin-left: -72px;
  font-size: 2rem;
  position: absolute;
  top: 5%;
  left: 50%;
  animation: slide-left 800ms forwards;
}

.second-line {
  opacity: 0;
  width: 38px;
  margin-left: -19px;
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  animation: slide-right 800ms 600ms forwards;
}

.third-line {
  opacity: 0;
  width: 46px;
  margin-left: -23px;
  font-size: 2rem;
  position: absolute;
  top: 30%;
  left: 50%;
  animation: slide-up 800ms 1200ms forwards;
}

.fourth-line {
  opacity: 0;
  width: 350px;
  margin-left: -175px;
  font-size: 0.1rem;
  position: absolute;
  top: 45%;
  left: 50%;
  animation: flip-in 2s 2s forwards;
}

.fifth-line {
  opacity: 0;
  width: 252px;
  margin-left: -126px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to right, red, yellow, purple, green);
  font-size: 1.5rem;
  position: absolute;
  top: 75%;
  left: 50%;
  animation: pop-in 1s 3.5s forwards,
  shake 400ms 4.5s linear, 
  color-change 3.5s infinite alternate forwards;
}

/* Animations */

@keyframes slide-left {
  from { left: 100%; }
  to { 
    opacity: 1;
    left: 50%;
  }
}

@keyframes slide-right {
  from { left: 0%; }
  to { 
    opacity: 1;
    left: 50%;
   }
}

@keyframes slide-up {
  from { top: 100% }
  to { 
    opacity: 1;
    top: 30%;
  }
}

@keyframes flip-in {
  from {top: 0%}
  50% { top: 70%}
  to {
    opacity: 1;
    font-size: 4.4rem;
    transform: rotate3d(1, 1, 1, 1080deg);
  }
}

@keyframes pop-in {
  from { transform: scale(0.1);}
  60% { transform: scale(1.2);}
  to { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake {
  0% {transform: translateX(-2px);}
  25% {transform: translateX(4px);}
  50% {transform: translateX(-4px);}
  75% {transform: translateX(4px);}
  100% {transform: translateX(-2px);}
}

@keyframes color-change {
  from {}
  to {
    background-image: linear-gradient(to right, red, yellow, purple, green);
    filter: hue-rotate(360deg);
  }
}

/* Responsiveness for landing page */

@media only screen and (min-width: 1024px) {
  .first-line {
    width: 216px;
    margin-left: -108px;
    font-size: 3rem;
  }

  .second-line {
    top: 25%;
  }

  @keyframes slide-up {
    from { top: 100% }
    to { 
      opacity: 1;
      top: 35%;
    }
  }

  .third-line {
    top: 35%;
  }
}

@media only screen and (min-width: 1600px) {
  .first-line {
    width: 362px;
    margin-left: -181px;
    font-size: 5rem;
  }

  .second-line {
    top: 25%;
  }

  @keyframes slide-up {
    from { top: 100% }
    to { 
      opacity: 1;
      top: 35%;
    }
  }

  .third-line {
    top: 35%;
  }

  .fifth-line {
    top: 70%;
  }
}

/* Website */
#website {
  display: none;
  max-width: 900px;
}

/* Main Header*/
header {
  position: fixed;
  top: -10px;
  width: 100%;
  max-width: 900px;
  z-index: 10;
  background-color: rgb(250, 247, 243);
}

h1 {
  margin: 0.5em;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 2px black,
   0 0 16px grey, 0 0 4px black;
}

h2 {
  margin: 15px 0;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  font-size: 1.5rem;
  margin: 0.5em 1em 0.5em 10px;
  text-align: left;
}

nav ul li {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5em;
}

nav a {
  text-decoration: none;
}

/* For vertical alignment of sections when called by navbar*/
.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -120px;
  left: 0;
  visibility: hidden;
}

/* main */
main {
  position: relative;
  top: 180px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.article-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 300px;
  margin: 10px;
}

.bio {
  width: 65%;
  /*min-width: 300px;*/
  margin: 10px;
}

.article-text ul {
  list-style: inside;
}

p {
  text-align: justify;
}

li {
  text-align: left;
}

h3.project-switch {
  text-align: left;
  cursor: pointer;
  margin: 3px 0;
}

.picture {
  width: 50%;
  min-width: 300px;
  padding: 0 5px;
  height: auto;
}

.my-picture {
  width: 30%;
  min-width: 280px;
  padding: 0 5px;
  height: auto;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
}

i {
  font-size: 64px;
  margin: 8px;
}